<h1>Ravens</h1>

<ul>
  {{#each}}
    <li>{{#link-to 'raven' id}}{{userName}} {{/link-to}}</li>
      <ul>
        <li>{{text}}</li>
        <li>
        {{#each houseTag in this.houseTags}}
          <span style="font-weight: bold;">{{houseTag}} </span>
        {{/each}}
        </li>
      </ul>
  {{/each}}
</ul>
