<h1>Ravens</h1>

<ul>
  {{#each}}
    <li>{{#link-to 'raven' id}}{{userName}} {{/link-to}}</li>
      <ul>
        <li>{{text}}</li>

        {{#each houseTag in houseTags}}
          <span style="font-weight: bold;">{{houseTag}} </span>
        {{/each}}
      </ul>
  {{/each}}
</ul>
