<h1>Ravens</h1>

<ul class="list-unstyled list-group">
  {{#each}}
    <li class="list-group-item">{{#link-to 'raven' id}}{{userName}} {{/link-to}}
      <ul class="list-unstyled list-group">
        <li class="list-group-item">
          <p>{{text}}</p>
          {{#each houseTag in houseTags}}
            <span style="font-weight: bold;">{{#link-to "house-tag" houseTag.id}}{{houseTag.name}} {{/link-to}}</span>
          {{/each}}
        </li>
      </ul>
    </li>
  {{/each}}
</ul>
